.pagination {
  display: flex;
  align-items: center;
  & > button {
    cursor: pointer;
    margin: 10px;
    padding: 5px;
    color: green;
    border: none;
    text-shadow: 0 2px 3px green;
    background-color: transparent;
    font-size: 24px;

    &:first-of-type{
      color: red;
      text-shadow: 0 2px 3px red;
    }
  }
  
}
